.navclass {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.791);
  border-radius: 25px;
  z-index: 100;
  position: relative;
 box-shadow:-10px -5px 20px #00FFFF, 10px 5px 20px #00FFFF;
 transition: transform 0.3s ease-in-out;
}

.navclass a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition: color 0.3s ease;
  transition: transform 0.3s ease-in-out;

}

.navclass:hover{
transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}

.navclass a:hover {
  color: #FF0000;
  text-shadow: 2px 2px 20px white;
 
  transform: scale(1.2);
}
